body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #D7DADB;
}

strong {
    font-weight: 900;
}
/*header{
    width: auto;
    position: fixed;
}*/
.cta {
    border-radius: .4rem;
    color: black;
    font-size: .8rem;
    margin: 1.4rem;
    padding: .5rem 1rem .5rem 1rem;
    border: solid #000000 .14rem;
}

.cta:hover {
    background-color: black;
    color: white;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* fallbacks */

/* MOBILE VIEW */

/* begin nav styles mobile  */

nav {
    position: fixed;
    background-color: white;
    color: black;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
-moz-box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
}

.fold {
    text-align: center;
        background-color: white;
        height: 20vh;
}
.arrow {
    color:black;


}

.header-left {
    padding-left:1rem;
}

.header-title {
    color: black;
    font-family: "Libre Baskerville", serif;
    font-size: .8rem;
}

.header-right {
        padding-right:1rem;
}

/* end nav stlyes mobile */

/**/

/* PARALLAX  */

.parallax-container {
    margin: auto;
}

.parallax-container .section {
    width: 100%;

}

.parrllax {}

.hero {
    z-index: -999;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding-top: 26.5rem;
    font-size: 3rem;
}

h2 {
    font-family: "Libre Baskerville", serif;
}
/* begin about me mobile styles*/
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
height: 20vh;
}

.about-me {
    padding-top: 2rem;
    font-size: 2rem;
    font-family: "Libre Baskerville", serif;
    min-height: 10vh;
    color: black;

}



    .parent-me {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        min-height: 50vh;
        padding-left: 20vh;
        padding-right: 20vh;

    }


.circle-me {
    color: black;
}

.circle {
    border-radius: 50%;
}

.more-about-me {
    color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.bio {
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    max-width: 24rem;
}

.resume {
    padding: 1.6rem 0 2rem 0;
}

/* end about me mobile styles*/

/*EXP*/

.exp{
display: flex;
justify-content: center;
background-color: white;
align-items: center;
color: black;
height: 15vh;
-webkit-box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
-moz-box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);

}

h6 {
    padding-top:2rem;
padding-bottom:2rem;
font-size: 2rem;
}



/*clymb-logo-section*/
    .clymb-logo-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #e34d42;
        height: 50vh;
        -webkit-box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
    -moz-box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
    box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
    }


.clymb-logo {
        height: 25vh;
        width: 25vh;
}
/*clymb-logo-section*/
/*clymb-client-section*/

.clients-wrapper{
/*margin-right: 10vh;
margin-left: 10vh;*/
margin-top: 10vh;
margin-bottom: 10vh;
justify-content: center;
background-color: #D7DADB;
    display: grid;
grid-gap:2%;
    grid-template-rows: repeat(4, 20%);
/*grid-gap: 1rem;*/
/*grid-auto-rows: minmax(100px, auto);*/
    }

    .sib {
        /*align-content: center;
        justify-content: center;*/
    }



        .cont {
            /*width: 100vw;*/
              display: grid;
              /*grid-gap: 10px;*/
              grid-template-columns: repeat(8, 20vh);
              /*grid-template-rows: 22vh;*/
              grid-auto-flow: column;
              align-content: center;
              justify-content: center;
              grid-gap:1rem;
              padding: 10rem 0 10rem 0;
        }
    .client-tile {
        height: 20vh;
        -webkit-box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
    -moz-box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
    box-shadow: 0px 11px 24px 0px rgba(26,26,26,.5);
    padding: .2rem;
          background-color: #e34d42;

    }





.item {

}
/*
    .client-tile:hover {
        height: 21vh;
        -webkit-box-shadow: 0px 11px 24px 0px rgba(26,26,26,1);
    -moz-box-shadow: 0px 11px 24px 0px rgba(26,26,26,1);
    box-shadow: 0px 11px 24px 0px rgba(26,26,26,1);
    padding: .1rem;
    }*/
    /*clymb-client-section*/


    .tripple-wrapper {
        /*text-align: center;*/
        /*margin-top: 6vh;
        margin-bottom: 10vh;*/
        justify-content: center;
            display: grid;
        /*grid-gap:2%;*/
            grid-template-columns: repeat(3, 33.3%);
          background-color: #e34d42;
padding: 1rem;
        }
