// font-family: 'Libre Baskerville', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Oswald', sans-serif;
// DEFAULTS

$wht: #fff;
$blk: #000;
$gray: #D7DADB; //CLYMB COLORS
$clymb-red: #e34d42; //MULT COLORS
// $dgray: #101010;

// QA COLORS

body {
    color: #109245;
    color: $wht;
    font-family: 'Lato', sans-serif;
    background-color: $gray;
}

strong {
    font-weight: 900;
}

.header-right {
    a {
            color: $blk;
            font-size: 1.2rem;
            padding-left: .2rem;
            padding-right: .2rem;
    }
}


.cta {
    border-radius: 0.4rem;
    color: $blk;
    font-size: 0.8rem;
    margin: 1.4rem;
    padding: 0.5rem 1rem;
    border: solid $blk 0.14rem;
    font-family: 'Lato', sans-serif;
}

.cta:hover {
    background-color: $blk;
    color: $wht;
    font-family: 'Lato', sans-serif;
}

hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;
}

nav {
    position: fixed;
    background-color: $wht;
    color: $blk;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    z-index: 9999;
}

.section-fold {
    text-align: center;
    background-color: $wht;
    height: 25vh;
}

.arrow {
    color: $blk;
}

.header-left {
    padding-left: 1rem;
}

.header-title {
    //
}

.header-name {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    color: $blk;
    font-weight: 900;
    padding-left: 0.5rem;
}

.header-right {
    padding-right: 1rem;
        color: $blk;
}
/* end nav stlyes mobile */
/**/
/* PARALLAX  */
.parallax-container {
    margin: auto;
}

.parallax-container .section {
    width: 100%;
}

.parrllax {}

.hero ,{
    z-index: -999;
}

.container-lax-hero {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.states {
    z-index: -99999;
}

h1 {
    // padding-top: 10.5rem;
    font-size: 3rem;
    // font-family: "Libre Baskerville", serif;
}

h3 {
    font-family: "Libre Baskerville", serif;
}
/* begin about me mobile styles*/
.container-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $wht;
    height: 20vh;
}

.item-about-me {
    padding-top: 2rem;
    font-size: 2rem;
    font-family: "Libre Baskerville", serif;
    min-height: 10vh;
    color: $blk;
}

.container-circle-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $wht;
    min-height: 50vh;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 20vh;
}

.circle-me {
    border-radius: 50%;
}

.container-bio-states {
    color: $blk;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item-bio {
    padding: 1rem;
    max-width: 24rem;
}

.resume {
    padding: 1.6rem 0 2rem;
}
/* end about me mobile styles*/
/*EXP*/
.header-exp {
    display: flex;
    justify-content: center;
    background-color: $wht;
    align-items: center;
    color: $blk;
    height: 15vh;
    -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
}

h6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}
/*clymb-logo-section*/
.contianer-logo-clymb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $clymb-red;
    height: 50vh;
    -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
}

.clymb-logo {
    height: 25vh;
    width: 25vh;
}
/*clymb-logo-section*/
/*clymb-client-section*/
.clients-wrapper {
    /*margin-right: 10vh;
margin-left: 10vh;*/
    margin-top: 10vh;
    margin-bottom: 10vh;
    justify-content: center;
    background-color: #D7DADB;
    display: grid;
    grid-gap: 2%;
    grid-template-rows: repeat(4, 20%);
    /*grid-gap: 1rem;*/
    /*grid-auto-rows: minmax(100px, auto);*/
}

.container-clients {
    /*width: 100vw;*/
    display: grid;
    /*grid-gap: 10px;*/
    grid-template-columns: repeat(8, 20vh);
    /*grid-template-rows: 22vh;*/
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    grid-gap: 1rem;
    padding: 5rem 0;
}

.item-client-tile {
    height: 20vh;
    -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    padding: 0.2rem;
    background-color: $clymb-red;
}

.container-clymb{

    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    background-color: $clymb-red;
    padding: 1rem;
}

.item-left,
.item-center {
    font-size: 1rem;
    padding: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
}

.item-right {

}


.about {
font-size: 2rem;
}
.group,
.tandc {
    -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    padding: 0.2rem;
    background-color: $clymb-red;
}

.clymb-tech-title {
    font-size: 1.5rem;
    text-align: center;
}

.container-qa{
    // margin-top :15vh;
    display: flex;
    justify-content: center;
    background-color: $wht;
}

.qa-image,
.wacom-image {
    padding: 1rem;
}

.container-qa-about {
    display: flex;
    justify-content: center;
    background-color: $wht;
    padding: 1rem 1rem 5rem;
    // align-content: center;
    min-width: 80vw;
}

.item-qa {
    // max-width: 10rem;
    padding: 3rem;
    color: $blk;
}

.item-mult-background {
    -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
}


.container-mult-title {
        background-color: #208ecf;
}




.container-mult-hero {
    display: flex;
    justify-content: center;
    padding-left: 10vh;
    padding-right: 10vh;
    background-color: #208ecf;
}
.about-mult, .mov, .item-phone {
flex: 3;

// width: 33.3%;
}

.phone {
    justify-content: center;

}
.mov {
    margin-top: 5vh;

}
.about-mult {
    // color: #101010;
    color:$wht;
        margin-top: 3vh;
    padding: 1rem;
    letter-spacing: .15px;
}



.hmm {
    padding:  .2rem;
    background-color: $wht;
    border-radius: .2rem;
    -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
    box-shadow: 0 11px 24px 0 rgba(26, 26, 26, .5);
}
